--
-- PostgreSQL database dump
--

\restrict XlD4nNRJ2myBJWbYWbriotYCHDftm49j0twX1GYBy862UAK3jMaEFHLcvuec2Rj

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg12+2)
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: aruser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO aruser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AnalysisDetails; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."AnalysisDetails" (
    "Id" text NOT NULL,
    "JobId" text NOT NULL,
    "CompletionId" text NOT NULL,
    "Similarity" double precision NOT NULL,
    "RiskLevel" integer NOT NULL,
    "Flags" text NOT NULL
);


ALTER TABLE public."AnalysisDetails" OWNER TO aruser;

--
-- Name: AnalysisJobs; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."AnalysisJobs" (
    "Id" text NOT NULL,
    "Type" text NOT NULL,
    "Params" text NOT NULL,
    "Status" text NOT NULL,
    "Progress" integer NOT NULL,
    "ResultSummary" text NOT NULL,
    "CreatedAt" bigint NOT NULL,
    "StartedAt" bigint,
    "FinishedAt" bigint,
    "Error" text NOT NULL
);


ALTER TABLE public."AnalysisJobs" OWNER TO aruser;

--
-- Name: AuditLogs; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."AuditLogs" (
    "Id" text NOT NULL,
    "Actor" text NOT NULL,
    "Action" text NOT NULL,
    "TargetId" text NOT NULL,
    "Payload" text NOT NULL,
    "Timestamp" bigint NOT NULL
);


ALTER TABLE public."AuditLogs" OWNER TO aruser;

--
-- Name: ChatEmbeddings; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."ChatEmbeddings" (
    "Id" text NOT NULL,
    "ChatMessageId" text NOT NULL,
    "EmbeddingJson" text NOT NULL,
    "CreatedAt" bigint NOT NULL
);


ALTER TABLE public."ChatEmbeddings" OWNER TO aruser;

--
-- Name: ChatMessages; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."ChatMessages" (
    "Id" text NOT NULL,
    "UserId" text NOT NULL,
    "Role" text NOT NULL,
    "Content" text NOT NULL,
    "Meta" text NOT NULL,
    "CreatedAt" bigint NOT NULL
);


ALTER TABLE public."ChatMessages" OWNER TO aruser;

--
-- Name: Completions; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."Completions" (
    "Id" text NOT NULL,
    "VenuesId" text NOT NULL,
    "UserId" text NOT NULL,
    "Complate" boolean NOT NULL,
    "CreatedAt" bigint NOT NULL
);


ALTER TABLE public."Completions" OWNER TO aruser;

--
-- Name: LineEvents; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."LineEvents" (
    "Id" text NOT NULL,
    "EventId" text NOT NULL,
    "UserId" text NOT NULL,
    "EventType" text NOT NULL,
    "RawEvent" text NOT NULL,
    "ReceivedAt" bigint NOT NULL,
    "Processed" boolean NOT NULL
);


ALTER TABLE public."LineEvents" OWNER TO aruser;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: aruser
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO aruser;

--
-- Data for Name: AnalysisDetails; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."AnalysisDetails" ("Id", "JobId", "CompletionId", "Similarity", "RiskLevel", "Flags") FROM stdin;
\.


--
-- Data for Name: AnalysisJobs; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."AnalysisJobs" ("Id", "Type", "Params", "Status", "Progress", "ResultSummary", "CreatedAt", "StartedAt", "FinishedAt", "Error") FROM stdin;
\.


--
-- Data for Name: AuditLogs; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."AuditLogs" ("Id", "Actor", "Action", "TargetId", "Payload", "Timestamp") FROM stdin;
\.


--
-- Data for Name: ChatEmbeddings; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."ChatEmbeddings" ("Id", "ChatMessageId", "EmbeddingJson", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: ChatMessages; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."ChatMessages" ("Id", "UserId", "Role", "Content", "Meta", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Completions; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."Completions" ("Id", "VenuesId", "UserId", "Complate", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: LineEvents; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."LineEvents" ("Id", "EventId", "UserId", "EventType", "RawEvent", "ReceivedAt", "Processed") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: aruser
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
\.


--
-- Name: AnalysisDetails PK_AnalysisDetails; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."AnalysisDetails"
    ADD CONSTRAINT "PK_AnalysisDetails" PRIMARY KEY ("Id");


--
-- Name: AnalysisJobs PK_AnalysisJobs; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."AnalysisJobs"
    ADD CONSTRAINT "PK_AnalysisJobs" PRIMARY KEY ("Id");


--
-- Name: AuditLogs PK_AuditLogs; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."AuditLogs"
    ADD CONSTRAINT "PK_AuditLogs" PRIMARY KEY ("Id");


--
-- Name: ChatEmbeddings PK_ChatEmbeddings; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."ChatEmbeddings"
    ADD CONSTRAINT "PK_ChatEmbeddings" PRIMARY KEY ("Id");


--
-- Name: ChatMessages PK_ChatMessages; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."ChatMessages"
    ADD CONSTRAINT "PK_ChatMessages" PRIMARY KEY ("Id");


--
-- Name: Completions PK_Completions; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."Completions"
    ADD CONSTRAINT "PK_Completions" PRIMARY KEY ("Id");


--
-- Name: LineEvents PK_LineEvents; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."LineEvents"
    ADD CONSTRAINT "PK_LineEvents" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: aruser
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_AnalysisJobs_Status; Type: INDEX; Schema: public; Owner: aruser
--

CREATE INDEX "IX_AnalysisJobs_Status" ON public."AnalysisJobs" USING btree ("Status");


--
-- Name: IX_ChatMessages_UserId; Type: INDEX; Schema: public; Owner: aruser
--

CREATE INDEX "IX_ChatMessages_UserId" ON public."ChatMessages" USING btree ("UserId");


--
-- Name: IX_LineEvents_EventId; Type: INDEX; Schema: public; Owner: aruser
--

CREATE INDEX "IX_LineEvents_EventId" ON public."LineEvents" USING btree ("EventId");


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO aruser;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO aruser;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO aruser;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO aruser;


--
-- PostgreSQL database dump complete
--

\unrestrict XlD4nNRJ2myBJWbYWbriotYCHDftm49j0twX1GYBy862UAK3jMaEFHLcvuec2Rj

