@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin - Home</title>
</head>
<body>
    <h1>Admin Area</h1>
    <p>Protected admin index. You're signed in as @User.Identity?.Name</p>
    <p><a href="/Admin/Home/Logout">Logout</a></p>
</body>
</html>
